<div class='breakpoint-indicator'>
    <a id="bootstrap-docs-link" href="#" target="_blank">
        <div class="d-block d-sm-none">XS</div>
        <div class="d-none d-sm-block d-md-none">SM</div>
        <div class="d-none d-md-block d-lg-none">MD</div>
        <div class="d-none d-lg-block d-xl-none">LG</div>
        <div class="d-none d-xl-block d-xxl-none">XL</div>
        <div class="d-none d-xxl-block">XXL</div>
    </a>
</div>

<style>
    .breakpoint-indicator {
        position: fixed;
        bottom: 15px;
        left: 20px;
        z-index: 10000;
    }

    #bootstrap-docs-link {
        text-decoration: none;
        color: initial;
    }

    .breakpoint-indicator div {
        padding: .5rem 1rem;
        border-radius: 30px;
    }

    .breakpoint-indicator .d-sm-none {
        background: #ffabab;
    }

    .breakpoint-indicator .d-sm-block {
        background: #ffdbab;
    }

    .breakpoint-indicator .d-md-block {
        background: #ccec98;
    }

    .breakpoint-indicator .d-lg-block {
        background: #4ae3cc;
    }

    .breakpoint-indicator .d-xl-block {
        background: #8eacf1;
    }

    .breakpoint-indicator .d-xxl-block {
        background: #e38bee;
    }
</style>

<script>
    window.addEventListener('load', function() {
        const bootstrapVersion = bootstrap.Tooltip.VERSION;
        const versionParts = bootstrapVersion.split('.');
        const minorVersion = `${versionParts[0]}.${versionParts[1]}`;

        document.getElementById('bootstrap-docs-link').href = `https://getbootstrap.com/docs/${minorVersion}`;
    });
</script>
