{% extends "partials/base.html" %}

{% set title = 'Mindaugas Vaitiekūnas - Software Engineer' %}
{% block title %}{{ title }}{% endblock %}
{% block ogTitle %}{{ title }}{% endblock %}
{% block ogImage %}og-image-index.png{% endblock %}

{% block style %}
<style>
    #headline {
        text-align: center;
        margin: 25vh 2rem 0 2rem;
    }

    @media (max-width: 600px) {
        /*
         * This is needed to prevent name from breaking into multiple lines on narrow screens.
         * calc(...) part is Bootstrap default size for display-* classes.
         * For more techniques to auto-size font see: https://css-tricks.com/fitting-text-to-a-container/
         */
        #headline #name {
            font-size: min(7.8vw, calc(1.575rem + 3.9vw));
        }

        #headline #title {
            font-size: min(6.5vw, calc(1.425rem + 2.1vw));
        }
    }

    #social-buttons img {
        height: 2.5rem;
        width: 2.5rem;
        margin: 1rem 0.5rem;
        transition: 0.3s;
    }

    #social-buttons img:hover {
        opacity: 0.5;
        transition: 0.3s;
    }

    .social-email-popover {
        --bs-popover-body-padding-x: 12px;
        --bs-popover-body-padding-y: 12px;
    }

    #social-email-copy-button {
        padding: 4px 9px;
        margin-left: 8px;
    }

    .content-container {
        margin-top: 12rem;
    }

    .content-container .container > h5 {
        margin-bottom: 2.5rem;
    }

    .content-container .card-link {
        text-decoration: none;
        color: inherit;
    }

    .content-container .card {
        --bs-card-border-radius: 0.6rem;
        --bs-card-inner-border-radius: 0.6rem;
        transition: 0.3s;
    }

    .content-container .card:hover {
        transform: scale(1.04);
        filter: brightness(90%);
        transition: 0.3s;
    }

    .content-container .card-container {
        margin-bottom: 2rem;
    }
</style>
{% endblock %}

{% block body %}
<div class="animation animation-bottom">
    <div class="d-none d-sm-block">
        {% include "partials/wave-index-wide.html" %}
    </div>

    <div class="d-sm-none">
        {% include "partials/wave-index-narrow.html" %}
    </div>
</div>

<div id="headline">
    <span id="name" class="display-2">Mindaugas Vaitiekūnas</span><br>
    <span id="title" class="display-5">Software Engineer</span>

    <div id="social-buttons">
        <a href="{{ linkedInLink }}" target="_blank"><img src="images/linkedin.svg" alt="LinkedIn" /></a>
        <a href="{{ githubLink }}" target="_blank"><img src="images/github.svg" alt="GitHub" /></a>
        <img
            id="social-email-button"
            src="images/email.svg"
            alt="Email"
            data-bs-custom-class="social-email-popover"
            data-bs-toggle="popover"
            data-bs-trigger="hover focus"
            data-bs-placement="bottom"
            data-bs-offset="0,15"
            data-bs-html="true"
            data-bs-content="
                <div id='social-email-popover-content'>
                    <a href='mailto:{{ email }}' target='_blank'>{{ email }}</a>
                    <a id='social-email-copy-button' type='button' class='btn btn-outline-dark' href='javascript:void(0)' onclick='copyEmail()'>
                        <i class='fa-regular fa-copy'></i>
                    </a>
                </div>"
        />
    </div>
</div>

<div class="content-container">
    <div class="container">
        <h5 class="display-5">Projects</h5>

        <div class="row">
            {% for projectKey, project in projects %}
            <div class="card-container col-12 col-sm-6 col-lg-4">
                <a href="{{ project.projectPageLink }}" class="card-link">
                    <div class="card h-100">
                        <img
                            src="images/{{ project.imagesDir }}/{{ project.cardImage }}"
                            class="card-img-top"
                            alt="{{ project.cardImageAlt }}"
                        />
                        <div class="card-body">
                            <h5 class="card-title">{{ project.title }}</h5>
                            <p class="card-text">{{ project.description }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function initializePopovers() {
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]');
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));
    }

    function holdPopoversOnHover() {
        // By default, popovers are shown only when trigger element is being hovered.
        // This script allows to also hover the popover itself.
        // Source: https://stackoverflow.com/a/71535429/4110469

        let triggerElement = document.getElementById('social-email-button');
        let popover = new bootstrap.Popover(triggerElement, { delay: { show: 0, hide: 500 }, sanitize: false});
        let oldHandler = popover.hide;

        triggerElement.addEventListener('shown.bs.popover', function(ev) {
            let popoverElement = popover.tip;

            popoverElement.addEventListener('mouseenter', () => popover.hide = () => 1);
            popoverElement.addEventListener('mouseleave', () => {
                popover.hide = oldHandler;
                popover.hide();
            });
        });
    }

    // Source: https://stackoverflow.com/a/30810322/4110469
    function copyTextToClipboardFallback(text) {
        let textArea = document.createElement('textarea');
        textArea.value = text;

        // Avoid scrolling to bottom
        textArea.style.top = '0';
        textArea.style.left = '0';
        textArea.style.position = 'fixed';

        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            document.execCommand('copy');
        } catch (err) {
            console.error('Could not copy text to clipboard (fallback method): ', err, text);
        }

        document.body.removeChild(textArea);
    }

    function copyTextToClipboard(text) {
        if (!navigator.clipboard) {
            copyTextToClipboardFallback(text);

            return;
        }

        navigator.clipboard.writeText(text).then(function () {
            // Successful copy
        }, function (err) {
            console.error('Could not copy text to clipboard: ', err, text);
        });
    }

    function copyEmail() {
        copyTextToClipboard('{{ email }}');

        const buttonElement = document.getElementById('social-email-copy-button');
        const originalContent = buttonElement.innerHTML;
        buttonElement.innerHTML = '<i class="fa-solid fa-check"></i>';

        setTimeout(function () {
            buttonElement.innerHTML = originalContent;
        }, 2000);
    }

    const animationElement = document.getElementsByClassName('animation')[0];

    function getAnimationContainerHeight() {
        return window.innerHeight;
    }

    window.addEventListener('resize', handleWindowResize, true);

    initializePopovers();
    holdPopoversOnHover();
    handleWindowResize();
</script>
{% endblock %}
