{% extends "partials/blog-base.html" %}

{% set project = projects.statusbarConverter %}
{% set projectPage = project.projectPage %}

{% block style %}
{{ super() }}
<style>
    .link-buttons .btn {
        margin-right: 0.5em;
        margin-bottom: 1.5em;
        --bs-btn-border-radius: 10em;
    }
</style>
{% endblock %}

{% block blogBody %}
<!-- TODO indentation -->
        <div class="link-buttons">
            <a href="{{ projectPage.githubLink }}" target="_blank" class="btn btn-outline-dark">
                <i class="fa-brands fa-github"></i> Source code
            </a>

            <a href="{{ projectPage.githubLink }}/releases" target="_blank" class="btn btn-outline-dark">
                <i class="fa-solid fa-download"></i> App download
            </a>
        </div>

        <p class="paragraph">
            A small tool to easily convert Unix timestamp to human-readable time.
            Using it, you can copy Unix timestamp from anywhere in your computer,
            and it will automatically show up as human-readable time in the statusbar.
        </p>

        <p class="paragraph">
            App is built with Python and is available for Linux and macOS.
        </p>

        <div class="paragraph row justify-content-center">
            <div class="col-12 col-lg-10">
                <video autoplay muted loop>
                    <source src="images/{{ project.imagesDir }}/demo-video.mp4" type="video/mp4"/>
                </video>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-11 col-sm-9 col-md-7 col-lg-6">
                <img src="images/{{ project.imagesDir }}/full-screenshot.png" alt="Statusbar Converter app screenshot"/>
            </div>
        </div>
{% endblock %}
